---
import { Image } from 'astro:assets'
import { contentfulClient } from '@lib/contentful'

export interface FoodMenuItem {
	fields: FoodProps
}
export interface FoodDiscount {
	date: string
	meals: FoodMenuItem[]
}

export interface FoodProps {
	name: string
	price: number
	description?: string
}

export interface FoodDiscountEntry {
	contentTypeId: string
	fields: any
	items: FoodDiscount[]
}

const entries = await contentfulClient.getEntries<FoodDiscountEntry>({
	content_type: 'promotion'
})

const items = entries.items[0].fields as unknown as FoodDiscount
const banner = await contentfulClient.getAsset('2w8hSEdMbmk7ewrT2KMpMG')

const postDate = new Date(items.date).toLocaleDateString('pl')
---

<div class="mx-auto mb-16 flex max-w-7xl flex-col justify-center">
	<div class="ribbon mx-auto mb-6">
		<h1 class="text-sm leading-6 text-primary">Danie dnia</h1>{' '}
	</div>
	<div class="mx-auto flex flex-col md:max-h-96 md:flex-row">
		<div class="flex w-full justify-center px-16 md:w-1/2">
			<Image
				src={banner.fields.file?.url ?? ''}
				alt="Banner z promocjami"
				height={500}
				width={700}
			/>
		</div>
		<div class="flex w-full flex-col justify-center px-16 py-8 md:w-1/2 md:p-10">
			<span class="flex text-primary-100">{postDate}</span>
			<h2 class="">Codziennie zapraszamy na wyjątkowe oferty dnia</h2>
			<div class="flex flex-col gap-2 text-primary-100">
				{
					items?.meals?.map((meal) => (
						<div class="flex justify-between">
							<>
								<span>
									{meal?.fields?.name}, {meal.fields.description}
								</span>
								<span>{meal.fields.price.toFixed(2)}</span>
							</>
						</div>
					))
				}
			</div>
		</div>
	</div>
</div>

<!-- {main.map((menuItem) => (
	<li onClick={() => scrollIntoView(menuItem.url)}>{menuItem.name.toUpperCase()}</li>
))} -->
